html, body{
	margin:0px;
	font-family: helvetica,arial,sans-serif;
}
.row {
	width: 100%;
}

.col {
	float: left;
	display: block;
	width: 50%;
}

a{
	text-decoration: none !important;
	color: rgb(54, 88, 153);
}

b{
	color: #262626;
}

#row1{
	background-color: #3B5998;
	display: block;
	height: 13%;
}

#row2{
	background-image: linear-gradient(rgb(255, 255, 255), rgb(211, 216,232));
	height: 87%
}

.ex-margin{
	margin-bottom: 1%;
	margin-top: 1%;
}

.form-div{
	padding-left: 11%;
}

.input_field{
	
	font-size: 18px;
	padding: 1%;
	margin-top: 1%;
}

.name_field{
	width: 35%;
}
#surname_field{
	margin-left: 1%;
}

.other_field{
	width: 70%;
}

.select_field{
	width: 30%;
	margin-top: 1%;
	font-size: 16px;
}

.sub_text{
	float: right;
	width: 40%;
	font-size: 12px;
}

.select-line{
	width: 60%;
}

#select_div{

	width: 60%;
}


.radio_field{
	color: rgb(29, 33, 41);
	font-size: 18px;
	font-weight: 400;
	width:100%;
	margin-bottom: 2%;
	margin-top: 2%;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 10px;
}

.heading1{
	width: 100%;
	margin-top: 4%;
	font-size: 36px;
	font-family: arial;
	font-weight: 700;
}

.heading2{
	width: 100%;
	font-size: 18px;
	font-family: arial;
	margin-top: 1%;
	margin-bottom: 1%;
}

.main-form{
	margin-top: 2%;
	margin-bottom: 1%;
}


#info_div{
	color: rgb(119, 119, 119);
	font-size: 11px;
	width: 60%;
	margin: 1%;
}

#acct_button{
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 18px;
	padding: 1%;
	width: 35%;
	background-color: rgb(105, 167, 78);
	color: #fff;
}

#celeb-text{
	font-size: 13px;
	font-weight: 700;
	color: rgb(102, 102, 102);
}

.col1{
	padding-top: 5%;
	padding-left: 10%;
}

#image{
		background-image: url(../img/image2.png);  	
    	background-repeat: no-repeat;
    	display: inline-block;
    	width: 537px;
    	height: 195px;
    	margin-top: 1%;
    	margin-left: 15%;
    	top: 0px;  	
	}

.side-title{
	width: 80%;
	font-size: 20px;
	font-weight: 600;
	font-family: arial;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 20%;
	color: #0000ff;
}


#logo{
	background-image: url(../img/image.png);  	
    	background-repeat: no-repeat;
    	display: inline-block;
    	width: 200px;
    	height: 74px;
    	margin-top: 1%;
    	margin-left: 25%;
}

.login_div{
	width: 100%;
	margin-left: 100%;
	margin-right: 0%;
}

.label_text{
	color: #fff;
	font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.text_field{
	margin-top: 2%;
	margin-bottom: 3%;
}

.login_field{
    color: #fff;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 3.5%;
}
.container{
	margin-top: 2%;
	
	display: block;
	padding-left: 15%;
}
.text-wrapper{
	float: left;
	width: 30%;
}
.login-button{
	margin-top: 3%;
	background-color: #004de6;
	color: #fff;
	border-color: transparent;
}

#forget-acct{
	color: rgb(156, 180, 216);
	font-size: 12px;
    font-weight: 400;
}